.banner {
  background:teal;
}

.banner-zombie {
  background:yellow;
}

.banner-human {
  background:green;
}

.banner-alpha {
  background:orange;
}

.banner-wait {
  background:blue;
}

.banner-kicked {
  background:red;
}