.banner-spectator {
  background:teal;
}

.banner-zombie {
  background:yellow;
}

.banner-human {
  background:green;
}

.banner-alpha {
  background:orange;
}

.banner-wait {
  background:blue;
}

.banner-kicked {
  background:red;
}

.canvas-center {
  position:absolute;
  left: 50%;
}

.canvas-overlay {
  color:#EEEEEE;
  font-family:"Courier New", Courier, monospace;
  border-radius:5px;
  background-color:rgba(010,010,010,0.6);
  position:relative;
  left:-50%;
  top:70px;
}

.canvas-overlay h1 {
  letter-spacing:3px;
  font-size:800%;
  padding:50px;
}

.canvas-overlay p {
  text-align: center;
  font-size: 200%;
  padding-bottom:40px;
}

.canvas-overlay span {
  font-size:150%;
}

.canvas-overlay #countdown {
  letter-spacing:3px;
  text-align:center;
}

.canvas-overlay #countdown tr.table-times td {
    font-size:200%;
}

#actions ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

.footer a {
    padding:2%;
}